  .messages li {
      text-align: center;
      font-size: 16pt;
      font-weight: bold;
      list-style-position: outside;
      list-style-type: none;
  }
  li.success {
      color: green;
  }
  li.success::before { content: "✓ "; }
  li.error {
      color: red;
  }
  li.error::before { content: "✗ "; }
  li.warning {
      color: #FF7E00;
  }
  li.warning::before { content: "⚠ "; }
  li.info {
      color: #00308F;
  }
  li.info::before { content: "ℹ "; }
