{% extends "form_base.html" %}
{% load crispy_forms_tags %}
{% block title %}
Details for: {{ showing.event.name }}
{% endblock %}
{% block script %}
{{ block.super }}
<script type="text/javascript">
$(document).ready(function() {
        $('#delete_form').bind("submit", function() {
            return confirm("Delete this booking: are you sure?\nThis cannot be undone!\nMaybe you want to mark it as cancelled?");
        });
});
</script>
<script>
"use strict";
document.addEventListener("DOMContentLoaded", function () {
    document.querySelectorAll("input.rota_count").forEach(function (el) {
        function highlight() {
            el.classList.toggle("rota-active", parseInt(el.value, 10) > 0);
        }
        highlight();
        el.addEventListener("input", highlight);
        el.addEventListener("change", highlight);
    });
});
</script>
{% endblock %}
{% block css %}
{{ block.super }}
<style>
    .asteriskField { display: none; }
    span.sub {
        color: gray;
    }
    input.rota_count {
        width: 60px;
    }
    input.rota_count.rota-active {
        background-color: #fffbcc;
    }
#rota span.helptext {
        display: block;
        float: right;
        width: 70%;
    }
    ul.rota li{
      list-style-type: none;
    }
    ul.rota label {
      display: inline-block;
      width: 50%;
      font-weight: bold;
      height: 0.65cm;
      font-size: 90%;
    }
    @media screen and (min-width: 640px) {
        ul.rota {
            display: flex;
            flex-flow: row wrap;
        }
        ul.rota li{
            width: 50%;
        }
    }
    @media screen and (min-width: 800px) {
        .rota_role {
          width: 35%;
    }
    #id_rota_notes {
        width: 100%;
        min-height: 6em;
        font-family: monospace;
    }
</style>
{% endblock %}

{% block body %}
{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}

<h2>
  <span class="sub">Booking @</span> {{ showing.start|date:"d/m/Y H:i" }} <span class="sub">for</span>
  <a href="{% url "edit-event-details-view" event_id=showing.event.id %}">{{ showing.event.name }}</a>
</h2>

<form action="{% url "edit-showing" showing_id=showing.id %}" method="post">
  {% csrf_token %}
  {% crispy form %}
  <p>
  <input class="btn btn-primary" type="submit" value="Update" />
  </p>
  <h3>Rota</h3>
  <h4>Standard roles</h4>
  <ul class="rota">
    {% for rota_entry in rota_form %}
      {% if rota_entry.name|slice:":5" == "role_" %}
        <li>{{ rota_entry.as_field_group }}</li>
      {% endif %}
    {% endfor %}
  </ul>
  <h4>Other roles</h4>
  <ul class="rota">
    {% for rota_entry in rota_form %}
      {% if rota_entry.name|slice:":6" == "other_" %}
        <li>{{ rota_entry.as_field_group }}</li>
      {% endif %}
    {% endfor %}
  </ul>

  <h3>Rota notes</h3>
  <div class="form-group">
    {{ rota_notes_form.rota_notes }}
    {% if rota_notes_form.rota_notes.errors %}
    <p class="text-danger small">{{ rota_notes_form.rota_notes.errors }}</p>
    {% endif %}
  </div>
  <p>
  <input class="btn btn-primary" type="submit" value="Update" />
  </p>
</form>

<p>
  <small><a href="{% url "edit-event-details-view" event_id=showing.event.id %}">Add another date for this event</a></small>
  &nbsp;&nbsp;
  <form id="delete_form" action="{% url "delete-showing" showing_id=showing.id %}" method="post" style="display:inline;">
    {% csrf_token %}
    <input class="btn btn-danger" type="submit" value="Delete Booking" />
  </form>
</p>
{% endblock %}

