{% load wagtailcore_tags %}
{% wagtail_site as current_site %}
<ul>
    <li><a href="/">Home</a></li>
    <li><a href="{% url "programme-view" %}">Programme</a>
        <ul class="sub-menu">
            {% for tag in promoted_tags %}
            <li><a href="{% url "type-view" tag.slug %}"><span>{{ tag.name|title }}</span></a></li>
            {% endfor %}
            <li><a href="{% url "programme-view" %}"><span>All</span></a></li>
            <li><a href="{% url "archive-view-index" %}"><span>Archive</span></a></li>
        </ul>
    </li>
    {% for top_level_child in current_site.root_page.get_children.live.in_menu %}
      {% if top_level_child.content_type.model == "sectionrootwithlinks" %}
    {# Don't actually link to the top_level_child content (as there isn't any!) #}
    <li><a href="#">{{ top_level_child.seo_title|default:top_level_child.title }}</a>
        <ul class="sub-menu">
            {% for child in top_level_child.get_children.live.in_menu %}
            <li><a href="{% pageurl child %}">{{ child.seo_title|default:child.title }}</a></li>
            {% endfor %}
            {# unmanaged links: #}
            {% for link in top_level_child.sectionrootwithlinks.links.all %}
            <li><a href="{{ link.link }}">{{ link.text }}</a></li>
            {% endfor %}
        </ul>
    </li>
      {% else %}
    <li><a href="{% pageurl top_level_child %}">{{ top_level_child.seo_title|default:top_level_child.title }}</a>
      {% endif %}
    {% endfor %}
    {% if user.is_authenticated %}
    <li><a href="{% url "toolkit-index" %}">Volunteer Toolkit</a>
        <ul class="sub-menu">
            <li><a href="{% url "toolkit-index" %}">Toolkit home</a></li>
            <li><a href="{% url "default-edit" %}">Diary</a></li>
            <li><a href="{% url "view_event_field" "rota" %}">Rota</a></li>
            <li>
                <form method="post" action="{% url 'logout' %}" style="margin:0;padding:0">
                    {% csrf_token %}
                    <button type="submit" style="background:none;border:none;padding:0;cursor:pointer;font:inherit;color:inherit;text-decoration:none">Sign out</button>
                </form>
            </li>
        </ul>
    </li>
    {% else %}
    <li><a href="{% url "login" %}">Volunteer Login</a></li>
    {% endif %}
</ul>
