{% load wagtailcore_tags %}
{% wagtail_site as current_site %}
<ul>
    <li><a href="/">Home</a></li>
    <li><a href="{% url "programme-view" %}" aria-haspopup="true">Programme <i class="fa fa-caret-down" aria-hidden="true"></i></a>
        <ul class="sub-menu">
            {% for tag in promoted_tags %}
            <li><a href="{% url "type-view" tag.slug %}"><span>{{ tag.name|title }}</span></a></li>
            {% endfor %}
            <li><a href="{% url "programme-view" %}"><span>All</span></a></li>
            <li><a href="{% url "archive-view-index" %}"><span>Archive</span></a></li>
        </ul>
    </li>
    {% for top_level_child in current_site.root_page.get_children.live.in_menu %}
      {% if top_level_child.content_type.model == "sectionrootwithlinks" %}
    {# Don't actually link to the top_level_child content (as there isn't any!) #}
    <li><a href="#" aria-haspopup="true">{{ top_level_child.seo_title|default:top_level_child.title }} <i class="fa fa-caret-down" aria-hidden="true"></i></a>
        <ul class="sub-menu">
            {% for child in top_level_child.get_children.live.in_menu %}
            <li><a href="{% pageurl child %}">{{ child.seo_title|default:child.title }}</a></li>
            {% endfor %}
            {# unmanaged links: #}
            {% for link in top_level_child.sectionrootwithlinks.links.all %}
            <li><a href="{{ link.link }}">{{ link.text }}</a></li>
            {% endfor %}
        </ul>
    </li>
      {% else %}
    <li><a href="{% pageurl top_level_child %}">{{ top_level_child.seo_title|default:top_level_child.title }}</a>
      {% endif %}
    {% endfor %}
    <li><a href="{% url "labs-collectives-public" %}">Collectives</a></li>
    {% if site_config.show_donations_in_public_nav %}
    <li><a href="{% url "labs-donations" %}">Donations wishlist</a></li>
    {% endif %}
    {% if user.is_authenticated %}
    <li class="nav-vol-divider" aria-hidden="true"></li>
    <li><a href="{% url "toolkit-index" %}">Toolkit</a></li>
    {% if perms.toolkit.write %}
    <li><a href="{% url "default-edit" %}">Diary</a></li>
    <li><a href="{% url "diary-edit-calendar" %}">Calendar</a></li>
    {% endif %}
    <li><a href="{% url "rota-edit" %}">Rota</a></li>
    <li><a href="#" aria-haspopup="true">Noticeboard <i class="fa fa-caret-down" aria-hidden="true"></i></a>
        <ul class="sub-menu">
            <li><a href="{% url "labs-bulletins" %}"><span>Bulletins</span></a></li>
            <li><a href="{% url "labs-collectives" %}"><span>Collectives</span></a></li>
            <li><a href="{% url "volunteer-directory" %}"><span>Volunteer directory</span></a></li>
            <li><a href="{% url "labs-jobs" %}"><span>Jobs board</span></a></li>
            {% if site_config.community_exchange_enabled %}
            <li><a href="{% url "labs-exchange" %}"><span>Community exchange</span></a></li>
            {% endif %}
            <li><a href="{% url "labs-floorplan" %}"><span>Building Map</span></a></li>
            <li><a href="{% url "labs-shopping" %}"><span>Shopping list</span></a></li>
            <li><a href="{% url "labs-found-item-log" %}"><span>Log found item</span></a></li>
            <li><a href="{% url "labs-found-items" %}"><span>Lost &amp; found</span></a></li>
        </ul>
    </li>
    {% if perms.toolkit.write %}
    <li><a href="#" aria-haspopup="true">Meta <i class="fa fa-caret-down" aria-hidden="true"></i></a>
        <ul class="sub-menu">
            <li><a href="{% url "edit_event_tags" %}"><span>Tags</span></a></li>
            <li><a href="{% url "edit_event_templates" %}"><span>Templates</span></a></li>
            <li><a href="{% url "edit_rooms" %}"><span>Rooms</span></a></li>
            <li><a href="{% url "edit_roles" %}"><span>Roles</span></a></li>
            {% if user.is_superuser %}
            <li><a href="{% url "toolkit-access" %}"><span>Access levels</span></a></li>
            <li><a href="{% url "edit-site-configuration" %}"><span>Site settings</span></a></li>
            {% endif %}
        </ul>
    </li>
    {% endif %}
    {% if user.is_superuser %}
    <li><a href="#" aria-haspopup="true">People <i class="fa fa-caret-down" aria-hidden="true"></i></a>
        <ul class="sub-menu">
            <li><a href="{% url "view-volunteer-summary" %}"><span>Summary</span></a></li>
            <li><a href="{% url "view-volunteer-list" %}"><span>Profiles</span></a></li>
            <li><a href="{% url "add-volunteer" %}"><span>Add volunteer</span></a></li>
            <li><a href="{% url "view-volunteer-training-report" %}"><span>Training report</span></a></li>
            <li><a href="{% url "view-qualification-report" %}"><span>Qual report</span></a></li>
            <li><a href="{% url "bulk-record" %}"><span>Bulk record</span></a></li>
            <li><a href="{% url "search-members" %}"><span>Search Members</span></a></li>
            <li><a href="{% url "add-member" %}"><span>Add Member</span></a></li>
            {% if MEMBERSHIP_EXPIRY_ENABLED %}<li><a href="{% url "member-expired" %}"><span>Expired</span></a></li>{% endif %}
            <li><a href="{% url "members-mailout" %}"><span>Send mailout</span></a></li>
        </ul>
    </li>
    {% endif %}
    <li>
        <form method="post" action="{% url 'logout' %}">
            {% csrf_token %}
            <button type="submit">Sign out</button>
        </form>
    </li>
    {% else %}
    <li><a href="{% url "login" %}">Volunteer Login</a></li>
    {% endif %}
</ul>
